:root {
    --background-primary: #f3f4f5;
    --foreground-primary: #111111;
    --background-secondary: #333333;
    --foreground-secondary: #ffffff;
    --anchor: #c3e1ff;
    --anchor-change: #5ca6f0;
    --accent: #3a3a3a;
    --shade: #d3d3d3;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
